@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Noto+Sans+JP:wght@100..900&display=swap');

html {
    background-color: white;
    height: 1100px;
    width: 502px;
}

body {
    font-family: "Noto Sans JP", serif;
    background-color: #2166A5;
    height: 1100px;
    width: 502px;
}

header {
    background-color: #FFE100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .kitty img {
    height: 70px;
}

header .ringo img {
    height: 50px;
}

header h1 {
    font-family: "Calistoga", serif;
    -webkit-text-stroke: 0.1px #2166A5;
    font-size: 35px;
    color: #EA535E
    
}

.border {
    margin: 0;
    height: 5px;
    background-color: #EA535E;
}

main {
    margin: 37px 0px;
    justify-items: center;
}

.post {
    background-color: white;
    width: 470px;
    height: 920px;
    border-radius: 8px;
    box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.post .margin {
    width: 430px;
    height: 900px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-image: url("sukekitty.png"); /* 背景画像を指定 */
    background-size: 200px; /* 画面全体をカバーする */
    background-position: 265px 739px; /* 画像を中央配置 */
    background-repeat: no-repeat; /* 画像を繰り返さない */

}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
}

.form input ,textarea{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #FFF7B8;
    box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 10px;
}

.form input:hover {
    background-color: #F3A2A8;
}

.form input:focus {
    background-color: #F3A2A8;
}

.form textarea {
    width: 100%;
    height: 50px;
}

.form textarea:hover {
    background-color: #F3A2A8;
}

.form textarea:active {
    border: 2px solid #FFE100;
} 

.form textarea:focus {
    background-color: #F3A2A8;
}



.form-lists {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

label {
    margin: 0;
}

.submit-button {
    margin-top: 50px;

}

.submit-button button {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #2166A5;
    color: #FFF7B8;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.submit-button button:hover {
    background-color: #2a73b8;
    transform: scale(1.01);
}

.submit-button button:active {
    background-color: #3581c9;
    transform: scale(0.9);
}

