@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Noto+Sans+JP:wght@100..900&display=swap');

html {
    background-color: white;
    height: 1100px;
    width: 502px;
}

body {
    font-family: "Noto Sans JP", serif;
    background-color: #2166A5;
    height: 1100px;
    width: 502px;
}

header {
    background-color: #FFE100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .kitty img {
    height: 70px;
}

header .ringo img {
    height: 50px;
}

header h1 {
    font-family: "Calistoga", serif;
    -webkit-text-stroke: 0.1px #2166A5;
    font-size: 35px;
    color: #EA535E
    
}

.border {
    margin: 0;
    height: 5px;
    background-color: #EA535E;
}

main {
    margin: 37px 0px;
    justify-items: center;
}

.post {
    background-color: white;
    width: 470px;
    height: 920px;
    border-radius: 8px;
    box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.post .margin {
    width: 430px;
    height: 900px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-image: url("sukekitty.png"); /* 背景画像を指定 */
    background-size: 200px; /* 画面全体をカバーする */
    background-position: 265px 739px; /* 画像を中央配置 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
}

.margin .author p{
    color: #2166A5; 
    font-size: larger;   
    margin: 10px 0;
}

.image {
    display: flex;
    justify-content: center;

}

.image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border: 2px solid #FFE100;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.03);
}

.Title_and_Comment {
    margin-top: 20px;
    display: flex;
    color: #2166A5;
}

.Title h3 {
    margin: 0;
    font-size: x-large;
}

.Comments-Button {
    display: flex;
    align-items: center;
}

.Comments-Button img{
    height: 30px;
    margin-left: 20px;
}

.content {
    color: #2166A5;
}

.post p {
    color: #2166A5;
}