html {
    background-color: black;
}

header {
    font-family: 'Calistoga', sans-serif;
}

.text-outline {
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    -webkit-text-stroke: 1.5px #DF5656;
}

/* 画像を浮遊させるアニメーション */
@keyframes float_myun {
    0% {
        transform: translateY(3px); /* 初期状態 */
    }
    50% {
        transform: translateY(-3px); /* 上に浮かぶ */
    }
    100% {
        transform: translateY(0px); /* 元の位置に戻る */
    }
}

.nyun_anime {
    animation: float_myun 3s ease-in-out infinite; /* アニメーションの時間、繰り返しの設定 */
}

@keyframes float_myon {
    0% {
        transform: translateY(0px) rotate(0deg); /* 初期状態 */
    }
    50% {
        transform: translateY(3px) rotate(5deg); /* 上に浮かぶ */
    }
    100% {
        transform: translateY(-3px) rotate(-5deg); /* 元の位置に戻る */
    }
}

.myon_anime {
    animation: float_myon 10s ease-in-out infinite; /* アニメーションの時間、繰り返しの設定 */
}

@keyframes float_background_myun1 {
    0% {
        transform: translate(210px, -10px) rotate(4deg); /* 初期位置 */
    }
    20% {
        transform: translate(280px, -40px) rotate(-4deg); /* 初期位置 */
    }

    100% {
        transform: translate(210px, -10px) rotate(4deg); /* 元の位置に戻る */
    }
}

.myun_back_anime1 {
    animation: float_background_myun1 7s ease-in-out infinite; /* アニメーションの時間、繰り返しの設定 */
}

@keyframes float_background_myun2 {
    0% {
        transform: translate(-60px, 120px) rotate(4deg); /* 初期位置 */
    }
    70% {
        transform: translate(50px, 80px) rotate(-4deg); /* 初期位置 */
    }

    100% {
        transform: translate(-60px, 120px) rotate(4deg); /* 元の位置に戻る */
    }
}

.myun_back_anime2 {
    animation: float_background_myun2 3s ease-in-out infinite; /* アニメーションの時間、繰り返しの設定 */
}

input , textarea{
    background-color: #FCE7E9;
    width: 310px;
    height: 46px;
}